@model IEnumerable<Ventra.Domain.Entities.Photo>

@{
    var pageName = "Banner cadastro";
    ViewData["Title"] = pageName;
}

<div class="container-xl">
    <div class="mb-3">
    </div>
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Enviar imagens</h3>
                    <form asp-action="Create" method="post" class="dropzone" id="dropzone-multiple" autocomplete="off" novalidate enctype="multipart/form-data">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        Dropzone.autoDiscover = false;

        document.addEventListener("DOMContentLoaded", function () {
            new Dropzone("#dropzone-multiple", {
                dictDefaultMessage: "Arraste as imagens aqui ou clique para enviar",
            });
        });
    </script>
}
