﻿﻿﻿@using Microsoft.AspNetCore.Identity
@using Ventra.Domain.Entities.Users
@inject UserManager<User> UserManager

<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
                <img src="/img/static/logo.png" width="110" height="32" alt="Logo" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav flex-row d-lg-none">
            <div class="d-lg-flex">
                <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">
                    <i class="ti ti-moon"></i>
                </a>
                <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">
                    <i class="ti ti-sun"></i>
                </a>
            </div>
            <div class="nav-item dropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    @await Html.PartialAsync("_LoginPartial")
                }
            </div>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item">
                    <span class="nav-link"><strong>Menu</strong></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <i class="ti ti-home"></i>
                        </span>
                        <span class="nav-link-title">
                            Home
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <span class="nav-link"><strong>Cadastros</strong></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="AdminArea" asp-controller="Products" asp-action="Index">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <i class="ti ti-basket-cog"></i>
                        </span>
                        <span class="nav-link-title">
                            Produtos
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="AdminArea" asp-controller="Categories" asp-action="Index">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <i class="ti ti-category"></i>
                        </span>
                        <span class="nav-link-title">
                            Categorias
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>