﻿﻿@using Microsoft.AspNetCore.Identity
@using Ventra.Domain.Entities.Users
@inject UserManager<User> UserManager

<header class="navbar navbar-expand-md d-print-none" data-bs-theme="dark">
    <div class="container-xl">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-menu"
                aria-controls="navbar-menu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a asp-controller="Home" asp-action="Index">
                <img src="/img/static/logo.png" width="110" height="32" alt="Logo" class="navbar-brand-image">
            </a>
        </div>

        <div class="navbar-nav flex-row order-md-last gap-2">
            <div class="nav-item">
                <div class="input-group input-group-flat">
                    <input type="text" class="form-control" autocomplete="off" placeholder="Buscar produtos">
                    <span class="input-group-text">
                        <a href="#" class="link-secondary">
                            <i class="ti ti-search"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="d-none d-md-flex">
                <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">
                    <i class="ti ti-moon"></i>
                </a>
                <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">
                    <i class="ti ti-sun"></i>
                </a>
            </div>
            <div class="nav-item dropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    @await Html.PartialAsync("_LoginPartial")
                }
                else
                {
                    <div class="nav-item d-flex me-3">
                        <div class="btn-list">
                            <a asp-area="" asp-controller="Auth" asp-action="Register" class="btn btn-5">
                                Crie sua conta
                            </a>
                            <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-6">
                                <i class="ti ti-login"></i>
                                Login
                            </a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</header>