@using Ventra.Domain.Entities
@model IEnumerable<Product>
@{
    var pageName = "Página Inicial";
    ViewData["Title"] = pageName;
}

<div class="container-xl">
    <div class="row g-2 g-md-3 py-3">
        @await Html.PartialAsync("_Carousel", Model)
    </div>
    <div class="mb-3">
        <h2 class="text-primary">Produtos em destaque</h2>
    </div>
    <div class="row g-4 py-3">
        <div class="col-12">
            @await Html.PartialAsync("_ProductCards", Model)
        </div>
    </div>
</div>


@section scripts {
    @Html.Raw(ViewBag.Confirm)
}


